.colorize {
	color: blue;
}

.hulkify {
	font-size: 3em;
}

.capture {
	border: 2px dotted salmon;
}

.rounding {
	border-radius: 8px;
}

/*The first section's text should be bold.*/
article > :first-child {
	font-weight: bolder;
}

/*The last section's text should be bold and italicized.*/
article > :last-child {
	font-weight: bolder;
	font-style: italic;
}

/*Make the buttons stop appearing next to each other as inline elements. Change them into block elements.*/
button {
	display: block;
}